:root {
  --primary-color: #3490dc;
  --secondary-color: #ffed4a;
  --background-color: #f8f9fa;
  --text-color: #333333;
  --button-width: 150px;
}
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1a1a1a;
}
::-webkit-scrollbar-thumb {
  background-color: #4a5568;
  border-radius: 5px;
  border: 2px solid #1a1a1a;
}
aside::-webkit-scrollbar {
  display: none;
}
@font-face {
  font-family: PlusJakarta;
  src: url("../../../../public/font/PlusJakartaSans-Medium.ttf");
}
* {
  font-family: PlusJakarta;
}
input::placeholder {
  font-size: 14px;
}
.input-form::placeholder {
  font-size: 12px;
}
.f-9 {
  font-size: 9px;
}
.f-10 {
  font-size: 10px;
}
.f-12 {
  font-size: 12px;
}
.c-gray {
  color: #888888;
}
.mt-4rem {
  margin-top: 4rem;
}
.active {
  background-color: #374151;
  font-weight: 600;
}
.layout-container {
  margin-left: 240px;
}
.linear-text {
  background: linear-gradient(89.78deg, #00f1d2 -0.8%, #5c48c0 90.83%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.chatbox {
  position: fixed;
  width: 53%;
  bottom: 0;
  border: 1px solid #efefef;
  background-color: white;
  border-radius: 16px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}
.send {
  border-right: 3px solid #02040f !important;
}
.res {
  border-left: 3px solid #082567 !important;
}
.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75vh;
}
.input-form {
  border: 1px solid #efefef;
  background: #ffffff;
  border-radius: 8px;
  padding: 5px 10px;
  font-size: 12px;
  width: 100%;
}
.footer {
  height: 80px;
  width: 100%;
  background: white;
  position: fixed;
  bottom: 0;
  z-index: 999;
}
@media (max-width: 991px) {
  .layout-container {
    margin-left: 0px;
  }
  .chatbox {
    width: 80%;
  }
}
@media (max-width: 668px) {
  .layout-container {
    margin-left: 0px;
  }
  .chatbox {
    width: 90%;
  }
}
