:root {
  --primary-color: #3490dc;
  --secondary-color: #ffed4a;
  --background-color: #f8f9fa;
  --text-color: #333333;
  --button-width: 150px;
}
.f-10 {
  font-size: 10px;
}
.f-12 {
  font-size: 12px;
}
.c-gray {
  color: #888888;
}
.active {
  background-color: #374151;
  font-weight: 600;
}
